# Ignorar arquivos massivos que quebram o limite do GitHub LFS
*.csv
*.pkl
*.model

# Ignorar pastas de ambiente virtual Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Ignorar configurações e cache de IDE/SO
.idea/
.vscode/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
